---
import { Layout } from "../components/UI/Layout";
import { UserProvider } from "../components/Auth/UserProvider";
import AuthGuardIsland from "../components/Auth/AuthGuardIsland";
import QuizzesIsland from "../components/Quizzes/QuizzesIsland";
---

<UserProvider>
  <AuthGuardIsland client:only="react">
    <Layout>
      <div class="w-full max-w-4xl mx-auto flex flex-col gap-8">
        <h1 class="font-heading text-3xl md:text-4xl font-bold text-success-light dark:text-success-dark mb-4">Quizzes</h1>
        <QuizzesIsland client:only="react" />
      </div>
    </Layout>
  </AuthGuardIsland>
</UserProvider>