---
---

<html>
  <head>
    <title>Test Page</title>
  </head>
  <body>
    <h1>Test Page Works!</h1>
    <p>If you can see this, the routing system is functional.</p>
    <a href="/">Go to home page</a>
  </body>
</html> 